
/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}
.w3-bar .w3-button {
  padding: 16px;
}
#center
{
    text-align: center;
}
Line{
    white-space: nowrap;
}
h4{
  text-align: center;
}
#box
{
  border-style:groove;
  border-radius: 10px;

}
.text-color
{
  color:rgb(183, 34, 34);
  padding: 0.5rem 0% 0.5rem 0%;
}
#ab{
  margin-right: 50px;
  margin-left: 50px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  color: #fff;
}
.con-1 {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Apply animation delay to the first 7 children with a 1s interval */

/* 1st child */
.con-1:nth-child(1) {
  animation-delay: 0s;
}

/* 2nd child */
.con-1:nth-child(2) {
  animation-delay: 1s;
}

/* 3rd child */
.con-1:nth-child(3) {
  animation-delay: 2s;
}

/* 4th child */
.con-1:nth-child(4) {
  animation-delay: 3s;
}

/* 5th child */
.con-1:nth-child(5) {
  animation-delay: 4s;
}

/* 6th child */
.con-1:nth-child(6) {
  animation-delay: 5s;
}

/* 7th child */
.con-1:nth-child(7) {
  animation-delay: 6s;
}

/* 8th child */
.con-1:nth-child(8) {
  animation-delay: 7s;
}
/* 9th child */
.con-1:nth-child(9) {
  animation-delay: 8s;
}

/* 10th child */
.con-1:nth-child(10) {
  animation-delay: 9s;
}

/* 11th child */
.con-1:nth-child(11) {
  animation-delay: 10s;
}

/* 12th child */
.con-1:nth-child(12) {
  animation-delay: 11s;
}


.text-box {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.rainbow-1 .text-box {
  background-color: #4B0082;
}
.rainbow-1 .icon-con {
  background-color: #4B0082;
}

.rainbow-2 .text-box {
  background-color: #23004D;
}
.rainbow-2 .icon-con {
  background-color: #23004D;
}

.rainbow-3 .text-box {
  background-color: #00008B;
}
.rainbow-3 .icon-con {
  background-color: #00008B;
}

.rainbow-4 .text-box {
  background-color: #006400;
}
.rainbow-4 .icon-con {
  background-color: #006400;
}

.rainbow-5 .text-box {
  background-color: #008000;
}
.rainbow-5 .icon-con {
  background-color: #008000;
}

.rainbow-6 .text-box {
  background-color: #556B2F;
}
.rainbow-6 .icon-con {
  background-color: #556B2F;
}

.rainbow-7 .text-box {
  background-color: #808000;
}
.rainbow-7 .icon-con {
  background-color: #808000;
}

.rainbow-8 .text-box {
  background-color: #B8860B;
}
.rainbow-8 .icon-con {
  background-color: #B8860B;
}

.rainbow-9 .text-box {
  background-color: #FF8C00;
}
.rainbow-9 .icon-con {
  background-color: #FF8C00;
}

.rainbow-10 .text-box {
  background-color: #CD5C5C;
}
.rainbow-10 .icon-con {
  background-color: #CD5C5C;
}

.rainbow-11 .text-box {
  background-color: #AC2E2E;
}
.rainbow-11 .icon-con {
  background-color: #AC2E2E;
}

.rainbow-12 .text-box {
  background-color: #8B0000;
}
.rainbow-12 .icon-con {
  background-color: #8B0000;
}


.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}
.icon-con {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline .icon-con i{
  color: rgb(255, 255, 255);
}
.con-1 .icon-con {
  position: absolute;
  right: -20px;
  top: 32px;
  z-index: 10;
}
.right-container .icon-con {
  left: -20px;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background:#000;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: changecolor  12s linear forwards;
}


@keyframes changecolor {
  0% {
    background-color: #4B0082; /* Indigo */
    height: 0;
  }
  8.33% {
    background-color: #23004D; /* Dark Purple */
  }
  16.67% {
    background-color: #00008B; /* Dark Blue */
  }
  25% {
    background-color: #006400; /* Dark Green */
  }
  33.33% {
    background-color: #008000; /* Green */
  }
  41.67% {
    background-color: #556B2F; /* Dark Olive Green */
  }
  50% {
    background-color: #808000; /* Olive */
  }
  58.33% {
    background-color: #B8860B; /* Dark Goldenrod */
  }
  66.67% {
    background-color: #FF8C00; /* Dark Orange */
  }
  75% {
    background-color: #CD5C5C; /* Indian Red */
  }
  83.33% {
    background-color: #AC2E2E; /* Dark Scarlet */
  }
  91.67% {
    background-color: #8B0000; /* Dark Red */
  }
  100% {
    background-color: #000000; /* Indigo */
    height: 100%;
  }
}
.text-box h2 {
  font-weight: 600;
}
.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}


.rainbow-1 .left-container-arrow,
.rainbow-1 .right-container-arrow {
  color: #4B0082;
}

.rainbow-2 .left-container-arrow,
.rainbow-2 .right-container-arrow {
  color: #23004D;
}

.rainbow-3 .left-container-arrow,
.rainbow-3 .right-container-arrow {
  color: #00008B;
}

.rainbow-4 .left-container-arrow,
.rainbow-4 .right-container-arrow {
  color: #006400;
}

.rainbow-5 .left-container-arrow,
.rainbow-5 .right-container-arrow {
  color: #008000;
}

.rainbow-6 .left-container-arrow,
.rainbow-6 .right-container-arrow {
  color: #556B2F;
}

.rainbow-7 .left-container-arrow,
.rainbow-7 .right-container-arrow {
  color: #808000;
}

.rainbow-8 .left-container-arrow,
.rainbow-8 .right-container-arrow {
  color: #B8860B;
}

.rainbow-9 .left-container-arrow,
.rainbow-9 .right-container-arrow {
  color: #FF8C00;
}

.rainbow-10 .left-container-arrow,
.rainbow-10 .right-container-arrow {
  color: #CD5C5C;
}

.rainbow-11 .left-container-arrow,
.rainbow-11 .right-container-arrow {
  color: #AC2E2E;
}

.rainbow-12 .left-container-arrow,
.rainbow-12 .right-container-arrow {
  color: #8B0000;
}


.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid;
  right: -14px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid;
  left: -14px;
}
@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .con-1 {
    padding-left: 80px;
    width: 100%;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-container {
    left: 0;
  }
  .left-container .icon-con ,
  .right-container .icon-con {
    left: 10px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 14px solid ;
        border-left: 0;
    left: -14px;
  }
}
