.color-section{
  background-color: rgba(39, 46, 38, 0.9);
  color: white;
}
  

.grid-container-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-right: 4em;
  margin-left: 4em;
  overflow: visible;
}

.grid-container-1 > div {
  text-align: center;
  padding: 1em 0;
  font-size: 200%;
  opacity: 1;
  animation: slide-in 10s ease-in ;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  5% {
    opacity: 0;
    transform: translateY(-50px);
  }
  15% {
    opacity: 0.5;
    transform: translateY(-20px);
  }
  25% {
    opacity: 0.8;
    transform: translateY(-10px);
  }
  35% {
    opacity: 0.9;
    transform: translateY(-5px);
  }
  40% {
    opacity: 1;
    transform: translateY(0);
  }
  42.5% {
    transform: translateY(-3px);
  }
  45% {
    transform: translateY(-2px);
  }
  47.5% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(0);
  }
}






.grid-container-1 .item1 {
  animation-delay: 0s;
}

.grid-container-1 .item2 {
  animation-delay: 0.2s;
}

.grid-container-1 .item3 {
  animation-delay: 0.4s;
}

.grid-container-1 .item4 {
  animation-delay: 0.6s;
}

.grid-container-1 .item5 {
  animation-delay: 0.8s;
}

.grid-container-1 .item6 {
  animation-delay: 1s;
}

.grid-container-1 .item7 {
  animation-delay: 1.2s;
}

.grid-container-1 .item8 {
  animation-delay: 1.4s;
}

.grid-container-1 .item9 {
  animation-delay: 1.6s;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1px;
  background-color: #000;
  padding: 0px;
  margin-right: 4em;
  margin-left: 4em;
}

.grid-container-2 > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}


.item1 { grid-area: 1 / 1 / 2 / 2; }
.item2 { grid-area: 1 / 2 / 2 / 3; }
.item3 { grid-area: 1 / 3 / 2 / 4; }
.item4 { grid-area: 2 / 1 / 3 / 2; }
.item5 { grid-area: 2 / 2 / 3 / 3; }
.item6 { grid-area: 2 / 3 / 3 / 4; }
.item7 { grid-area: 3 / 1 / 4 / 2; }
.item8 { grid-area: 3 / 2 / 4 / 3; }
.item9 { grid-area: 3 / 3 / 4 / 4; }



.counter-up{
  background: url("images/bg-2.jpeg") no-repeat;  
  min-height: 40vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.counter-up::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.8);
}
.counter-up .content{
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.counter-up .content .box{
  border: 1px dashed rgba(255,255,255,0.6);
  width: calc(25% - 30px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}
.content .box .icon{
  font-size: 48px;
  color: #e6e6e6;
}
.content .box .counter{
  font-size: 50px;
  font-weight: 500;
  color: #f2f2f2;
  font-family: sans-serif;
}
.content .box .text{
  font-weight: 400;
  color: #ccc;
}
@media screen and (max-width: 1036px) {
  .counter-up{
    padding: 50px 50px 0 50px;
  }
  .counter-up .content .box{
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 580px) {
  .counter-up .content .box{
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .wrapper{
    padding: 20px;
  }
  .counter-up{
    padding: 30px 20px 0 20px;
  }
}
/* .infront {
  background-image: url('assets/factory.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  height: 100vh; 
  width: 100%; 
  opacity: 0.8;
}
.intro-slogan{
  color: rgb(0, 0, 0);
  opacity:0.5;
} */
.cap-head{
  font-size: 4.5em;
  text-align: center;
  display: block;
}
.tag-line{
  display: block;
  text-align: center;
  font-size: 2.5em;
}
.intro {
  background-image: url('assets/factory.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.466); /* Adjust the last value (0.3) to change the opacity of the background image */
}

.intro * {
  position: relative;
  z-index: 1;
}

.intro-align{
  text-align: center;
  color:rgb(0, 0, 0);
}



@media only screen and (max-width: 350px) {
  #context {
    font-size: 40px;
  }
  .QL , .PL{
display: none;
  }
  .col-lg-3{
margin: 0 1rem 0 1rem ;
  }
  .main{
    padding-right: 0;
  }
  .main_nav {
    font-size: xx-small;
  }
    
}




@media only screen and (min-width:350px) and (max-width: 768px) {
  #context {
    font-size: 60px;
  }
  
}




/* Media queries for screens smaller than 768px */
@media  (max-width: 768px) {
  
  #smaag {
    padding: 1.5em 0 0 3em;
    max-height: 4em;
  }
  .list-elem , #scam {
    font-size: small;
    margin: 0.5em 1em 0.5em 1em;
  }
  
 
}



/* Media queries for screens between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .main_nav {
    font-size: medium;
  }
  #smaag {
    padding: 0.3em 0 0 2em;
  }
  .list-elem , #scam{
    font-size: medium;
    margin: 0.5em 1em 0.5em 1em;
  }
  #context {
    font-size: 80px;
  }
}



/* Media queries for screens larger than 1024px */
@media  (min-width: 1024px) {
  .main_nav {
    font-size: medium;
  }
  #smaag {
    padding: 1em 0 0 5em;
  }
  .list-elem , #scam{
    font-size: large;
    margin: 0.7em 1.5em 0.7em 1.5em;
  }
  #context {
    font-size: 100px;
  }
}




@media ( max-width: 500px ) { 

  .nav_1 {
      padding: 1.6em;
  }

  #list {
      flex-direction: column;
      display: none;
  }

  #toggle-nav {
      display: flex;
  }

}