
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}



.container-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr)); /* Adjust the column size as needed */
  justify-content: center;
  align-content: center;
  justify-items: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  gap: 40px; /* Increased the gap between the containers to 40px */
  margin: 0 auto;
}



a {
  text-decoration: none; /* Remove underline */
  color: inherit;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  max-width: 30em;
  max-height: 35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container:hover {
  transform: scale(1.05);
}

.container img {
  width: 100%;
  max-width: 100%;
  height: 35em;
  border-radius: 20px;
  margin-bottom: 10px; 
  object-fit: cover;
  /* Add margin-bottom to create space below the image */
}

.container p {
  margin: 0; /* Remove the margin-top and set it to 0 to eliminate extra spacing */
  font-size: 28px;
  font-weight:    500;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-heading
{
text-align: center;
padding-top: 60px;
font-weight:    500;
padding-bottom:  30px;
}

